@use "utils/variables" as var;

.bgCircle {
  -webkit-animation: swim 4s 0.5s ease-in-out infinite;
  animation: swim 4s 0.5s ease-in-out infinite;
  background: var.$primaryDark;
  border-radius: 50%;
  position: absolute;
  z-index: -1;

  &--topLeft {
    background-color: var.$circleLight;
    height: 70vw;
    left: -32vw;
    top: -31vw;
    width: 70vw;
  }

  &--center {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    height: 40vw;
    right: 20vw;
    top: 4vw;
    width: 40vw;
  }

  &--centerRight {
    background-color: var.$circleLight;
    height: 20vw;
    right: 10vw;
    top: 21vw;
    width: 20vw;
  }

  &--bottomLeft {
    height: 50vw;
    left: -20%;
    top: 175%;
    width: 50vw;
  }

  &--bottomRight {
    background-color: var.$circleLight;
    height: 35vw;
    right: 2%;
    top: 255%;
    width: 35vw;
  }
}

// dark theme

body.dark {
  .bgCircle {
    &--center,
    &--bottomRight {
      background: var.$circleDark2;
    }

    &--centerRight,
    &--bottomLeft,
    &--topLeft {
      background: var.$circleDark1;
    }
  }
}

@-webkit-keyframes swim {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(6%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes swim {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(6%);
  }
  100% {
    transform: translateY(0%);
  }
}
