@use "utils/variables" as var;

.hintIcon {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  

  &__dfn {
    font-weight: bold;
    line-height: 1.3;
  }

  &__modal {
    background-color: var.$selectLight;
    border: 4px solid var.$secondaryLight;
    border-radius: 30px;
    color: var.$fontLight;
    display: none;
    font-weight: normal;
    max-width: 600px;
    padding: 30px;
    position: absolute;
    text-align: left;
    z-index: 2;
    @media only screen and (max-width: 768px) {
      padding: 20px;
      right: 0;
      width: 90vw;
    }

    &--active {
      display: block;
    }
  }

  &::after {
    border: 1px solid;
    border-radius: 50%;
    content: "?";
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 2px;
    padding: 0 6px;
  }

  &:focus,
  &:hover {
    border-color: var.$primaryLight;
    color: var.$primaryLight;
  }
}

body.dark .hintIcon {
  &:focus,
  &:hover {
    border-color: var.$primaryDark;
    color: var.$primaryDark;
  }

  &__modal {
    background-color: var.$selectDark;
    border-color: var.$secondaryDark;
    color: var.$fontDark;
  }
}
