@use "utils/variables" as var;

.input {
  background: transparent;
  border: none;
  border-bottom: 3px solid var.$secondaryLight;
  color: var.$primaryLight;
  font-size: 33px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 80%;

  &:focus,
  &:active {
    border-color: var.$primaryLight;
    outline: none;
  }
}

body.dark .input {
  border-color: var.$secondaryDark;
  color: var.$primaryDark;

  &:focus,
  &:active {
    border-color: var.$primaryDark;
  }
}

//---------------INPUT NUMBER---------------

.inputNumber {
  &::placeholder {
    color: var.$secondaryLight;
    font-size: 24px;
    font-weight: normal;
  }
}

body.dark .inputNumber {
  &::placeholder {
    color: var.$secondaryDark;
  }
}

//---------------INPUT DATE---------------

.inputDate {
  color: var.$secondaryLight;
  font-size: 27px;
  font-weight: normal;

  &--focus,
  &:focus,
  &:active {
    color: var.$primaryLight;
    font-weight: bold;
  }

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
}

// dark theme

body.dark .inputDate {
  color: var.$secondaryDark;

  &--focus,
  &:focus,
  &:active {
    color: var.$primaryDark;
  }

  &::-webkit-calendar-picker-indicator {
    background-color: var.$primaryDark;
    border-radius: 10px;
    padding: 5px;
  }
}

//---------------INPUT RANGE---------------

.inputRange {
  -webkit-appearance: none;
  background: transparent;
  margin: 30px 0;
  width: 80%;

  &__value {
    color: var.$primaryLight;
    font-size: 26px;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 140px;
    transform: translateX(-50%);
  }

  &::-webkit-slider-runnable-track {
    background: var.$primaryLight;
    border-radius: 10px;
    border: 0.2px solid #010101;
    cursor: pointer;
    height: 8.4px;
    width: 100%;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var.$primaryLight;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }

  &::-moz-range-track {
    background: var.$primaryLight;
    border-radius: 10px;
    border: 0.2px solid #010101;
    cursor: pointer;
    height: 8.4px;
    width: 100%;
  }

  &:focus::-webkit-slider-runnable-track {
    background: var.$primaryDark;
  }

  &::-moz-range-thumb {
    border: 1px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }

  &::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    cursor: pointer;
    color: transparent;
    height: 8.4px;
    width: 100%;
  }

  &::-ms-fill-lower {
    background: var.$primaryLight;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }

  &::-ms-fill-upper {
    background: var.$primaryDark;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }

  &::-ms-thumb {
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }
}

body.dark .inputRange__value {
  color: var.$primaryDark;
}
