@use "variables" as var;
@use "extends/mixins" as mixins;

.personInfo {
  @include mixins.setFlex(row, center, flex-start);
  @media only screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }
  margin-top: 60px;
  gap: 50px;
  &__img {
    width: 230px;
    max-height: 500px;
  }

  &__container {
    @include mixins.setFlex(column);
    gap: 30px;
  }

  &__wrapper {
    margin-top: 20px;
  }

  &__title {
    font-size: 1.2rem;
  }

  &__p {
    line-height: 1.5;
    font-size: 24px;

    &--big {
      font-size: 30px;
    }

    &--bigger {
      font-size: 41px;
    }

    &--bold {
      font-weight: bold;
      color: var.$primaryLight;
    }
  }
}

.personInfo__statusInfo > .personInfo__p--bold {
  text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    -1px -1px 0 #000, 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000,
    0px -1px 0 #000;
}

body.dark .personInfo__p--bold {
  color: var.$primaryDark;
}
