@use "utils/variables" as var;

.radioBtn {
  background: transparent;
  border: none;

  &--active {
    color: var.$primaryLight;
  }

  &__icon {
    cursor: pointer;
    font-size: 70px;
    transition: all 0.3s ease-in-out;
  }
}

body.dark {
  .radioBtn {
    &--active {
      .radioBtn__icon {
        color: var.$primaryDark;
      }
    }

    &__icon {
      color: var.$fontDark;
    }
  }
}
