@use "variables" as var;

.radioBtn {
  border: none;
  background: transparent;

  &--active {
    color: var.$primaryLight;
  }
}

body.dark .radioBtn--active {
  .icon-male::before,
  .icon-female::before {
    color: var.$primaryDark;
  }
}

.icon-male::before,
.icon-female::before {
  font-size: 70px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

body.dark .icon-male::before,
body.dark .icon-female::before {
  color: var.$fontDark;
}
