@use "utils/variables" as var;
@use "utils/mixins" as mixins;

.select {
  @include mixins.setFlex();
  border-bottom: 3px solid var.$secondaryLight;
  color: var.$secondaryLight;
  cursor: pointer;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 700px;
  padding: 15px;
  padding-bottom: 5px;
  text-align: center;
  transition: all 0.2s ease-in-out;

  &:focus,
  &:active {
    border-color: var.$primaryLight;
    color: var.$primaryLight;
  }

  &__p {
    font-size: 24px;

    &--active {
      color: var.$primaryLight;
      font-weight: 700;
      font-size: 22px;
    }
  }

  &__list {
    backdrop-filter: blur(12px);
    background: var.$selectLight;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    display: none;
    list-style: none;
    position: absolute;
    top: 175px;
    z-index: 2;

    &--active {
      display: block;
    }
  }

  &__listItem {
    border-bottom: 2px solid var.$secondaryLight;
    cursor: pointer;
    display: block;
    padding: 15px 10px;
    transition: all 0.3s ease-in-out;

    &:last-child {
      border-radius: 30px;
    }

    &:hover,
    &:focus,
    &:active {
      border-bottom-color: var.$primaryLight;
      color: var.$primaryLight;
    }
  }

  &__icon {
    font-size: 2rem;
    line-height: 0.2;
    margin-bottom: 5px;
    z-index: 3;
  }
}

// dark theme

body.dark .select {
  border-bottom: 3px solid var.$secondaryDark;
  color: var.$secondaryDark;

  &:focus,
  &:active {
    border-color: var.$primaryDark;
    color: var.$primaryDark;
  }

  &__list {
    background: var.$selectDark;
  }

  &__listItem {
    border-bottom: 2px solid var.$secondaryLight;

    &:hover,
    &:focus,
    &:active {
      border-bottom-color: var.$primaryDark;
      color: var.$primaryDark;
    }
  }

  &__p--active {
    color: var.$primaryDark;
  }
}
