@use "utils/variables" as var;
@use "utils/hidden" as hidden;

.themeBtn {
  background: rgb(109, 165, 255);
  border-radius: 20px;
  border: 2px solid var.$primaryLight;
  cursor: pointer;
  display: block;
  height: 35px;
  justify-self: flex-end;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 75px;

  &__info--hidden {
    @extend %hidden;
  }

  &:hover {
    border-color: var.$primaryDark;
  }

  &::after {
    background: rgb(234, 255, 0);
    border-radius: 50%;
    content: "";
    display: block;
    height: 22px;
    position: absolute;
    top: 4px;
    transform: translateX(7px);
    transition: all 0.5s ease-in-out;
    width: 22px;
  }
}

// dark theme

body.dark .themeBtn {
  background: rgb(2, 0, 46);

  &::after {
    transform: translateX(40px);
  }

  &::before {
    background: rgb(2, 0, 46);
    border-radius: 50%;
    content: "";
    display: block;
    height: 22px;
    position: absolute;
    top: 1px;
    transform: translateX(33px);
    transition: all 1s ease-in-out;
    width: 22px;
    z-index: 1;
  }
}
