@use "variables" as var;
@use "extends/hidden" as hidden;
@use "components/bgCircles";
@use "components/themeBtn";
@use "components/button";
@use "components/fieldset";
@use "components/inputs";
@use "components/radioBtn";
@use "components/select";

//---------------GENERAL SETTINGS---------------

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 21px;
}

//---------------BODY STYLING---------------

body {
  background: var.$bgLight;
  background: var.$bgGradientLight;
  color: var.$fontLight;
  font-family: Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;

  &.dark {
    background: var.$bgDark;
    background: var.$bgGradientDark;
    color: var.$fontDark;
  }
}

//---------------MAIN HEADER---------------

.mainHeader__h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 55px;
  letter-spacing: 5px;
  padding: 26px 0;
}

//---------------CALCULATOR----------------

.calculator {
  max-width: 1500px;
  margin: 30px auto 80px auto;

  &__header {
    padding: 20px 0;
  }

  &__h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
  }

  &__submit-btn {
    align-self: center;
    margin-top: 30px;
  }
}

// FORM STYLING

.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

//---------------RESULT SECTION---------------
