@use "utils/variables" as var;
@use "utils/hidden" as hidden;
@use "utils/mixins" as mixins;
@use "components/bgCircles";
@use "components/button";
@use "components/calculator";
@use "components/fieldset";
@use "components/form";
@use "components/graphic";
@use "components/hintIcon";
@use "components/inputs";
@use "components/mainHeader";
@use "components/personInfo";
@use "components/radioBtn";
@use "components/results";
@use "components/select";
@use "components/themeBtn";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var.$bgLight;
  background: var.$bgGradientLight;
  color: var.$fontLight;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 21px;
  scroll-behavior: smooth;

  &.dark {
    background: var.$bgDark;
    background: var.$bgGradientDark;
    color: var.$fontDark;
  }
}
